// [Begin] NEVER REMOVE OR CLOWNS WILL EAT YOU
@import "hive_thm_custom/Resources/Private/Assets/Scss/Import/index";
// [End] NEVER REMOVE OR CLOWNS WILL EAT YOU

/*
 * Context
 */
.tx-hive-cpt-cnt-cssslider,
.csss--vh {

  position: relative;

  .csss__slide {
    overflow: hidden;
    transform: translate3d(($grid-gutter-width/2),0,0);
  }

  > input[type="radio"] {
    display: none;
  }

  nav.dots .prev, nav.dots .next {
    z-index: 1070;
  }

  nav.dots > label {
    display: block;
  }

  $maxSlideCount: 8 !default;

  $iMdMaxVisibleAtOnce: 4 !default;
  $iLgMaxVisibleAtOnce: 4 !default;
  $iXlMaxVisibleAtOnce: 5 !default;

  .prev label,
  .next label{
    display: none;
  }

  label {
    margin-bottom: 0;
  }

  .csss__wrapper {
    position: relative;
    width: 100%;
    //padding-left: 15px;
    //background: $gray-100;
    &:before, &:after {
      content: "";
      position: absolute;
      width:20000em;
      height:100%;
      background: rgba(255,255,255,.9);
      top: 0;
      left: -20000em;
      z-index: 2;
    }
    &:after {
      left: 100%;
    }

    .csss__slider {
      height: 100%;
      width: 100%;
      transition: all 0.5s ease;
      @for $i from 1+1 through $maxSlideCount {
        &.iCount--#{$i} {
          width: 100% + ((100% / 1) * ($i - 1));
        }
      }


      @include media-breakpoint-up(md) {
        @for $i from 2 through $maxSlideCount {
          &.iCount--#{$i} {
            @for $ii from 1 through $iMdMaxVisibleAtOnce {
              &.iMd--#{$ii} {
                width: 100% + ((100% / $ii) * ($i - $ii));
              }
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {
        @for $i from 2 through $maxSlideCount {
          &.iCount--#{$i} {
            @for $ii from 1 through $iLgMaxVisibleAtOnce {
              &.iLg--#{$ii} {
                width: 100% + ((100% / $ii) * ($i - $ii));
              }
            }
          }
        }
      }

      @include media-breakpoint-up(xl) {
        @for $i from 2 through $maxSlideCount {
          &.iCount--#{$i} {
            @for $ii from 1 through $iXlMaxVisibleAtOnce {
              &.iXl--#{$ii} {
                width: 100% + ((100% / $ii) * ($i - $ii));
              }
            }
          }
        }
      }

    }

  }

  //
  // Arrows
  //
  input[type="radio"] {
    &:checked {
      @for $iActive from 1 through $maxSlideCount {
        &:nth-of-type(#{$iActive}) {
          & ~ nav.dots .prev label:nth-of-type(#{$iActive}) {
            display: inline-block;
          }
          & ~ nav.dots .next label:nth-of-type(#{$iActive}) {
            display: inline-block;
          }
        }
      }
    }
  }
  @include media-breakpoint-only(md) {

    nav.dots > label {
      display: none;
    }
    &.iMd--1 {
      nav.dots > label {
        display: block;
      }
    }

    @for $iCount from 2 through $maxSlideCount {
      &.iCount--#{$iCount} {
        @for $iVisible from 2 through $iMdMaxVisibleAtOnce {
          &.iMd--#{$iVisible} {
            input[type="radio"] {
              &:checked {
                @for $iActive from 1 through $maxSlideCount {
                  &:nth-of-type(#{$iActive}) {
                    @if $iCount > $iVisible {
                      @if $iActive == 1 {
                        & ~ nav.dots .prev label {
                          display: none;
                        }
                        & ~ nav.dots .prev label:nth-of-type(#{($iCount - $iVisible + 2)}) {
                          display: inline-block;
                        }
                      }
                      @if $iActive >= ($iCount - $iVisible + 1) {
                        & ~ nav.dots .next label:nth-of-type(#{($iCount - $iVisible + 1)}) {
                          display: none;
                        }
                        & ~ nav.dots .next label:nth-of-type(#{$iCount}) {
                          display: inline-block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-only(lg) {

    nav.dots > label {
      display: none;
    }
    &.iLg--1 {
      nav.dots > label {
        display: block;
      }
    }

    @for $iCount from 2 through $maxSlideCount {
      &.iCount--#{$iCount} {
        @for $iVisible from 2 through $iLgMaxVisibleAtOnce {
          &.iLg--#{$iVisible} {
            input[type="radio"] {
              &:checked {
                @for $iActive from 1 through $maxSlideCount {
                  &:nth-of-type(#{$iActive}) {
                    @if $iCount > $iVisible {
                      @if $iActive == 1 {
                        & ~ nav.dots .prev label {
                          display: none;
                        }
                        & ~ nav.dots .prev label:nth-of-type(#{($iCount - $iVisible + 2)}) {
                          display: inline-block;
                        }
                      }
                      @if $iActive >= ($iCount - $iVisible + 1) {
                        & ~ nav.dots .next label:nth-of-type(#{($iCount - $iVisible + 1)}) {
                          display: none;
                        }
                        & ~ nav.dots .next label:nth-of-type(#{$iCount}) {
                          display: inline-block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  @include media-breakpoint-only(xl) {

    nav.dots > label {
      display: none;
    }
    &.iXl--1 {
      nav.dots > label {
        display: block;
      }
    }

    @for $iCount from 2 through $maxSlideCount {
      &.iCount--#{$iCount} {
        @for $iVisible from 2 through $iXlMaxVisibleAtOnce {
          &.iXl--#{$iVisible} {
            input[type="radio"] {
              &:checked {
                @for $iActive from 1 through $maxSlideCount {
                  &:nth-of-type(#{$iActive}) {
                    @if $iCount > $iVisible {
                      @if $iActive == 1 {
                        & ~ nav.dots .prev label {
                          display: none;
                        }
                        & ~ nav.dots .prev label:nth-of-type(#{($iCount - $iVisible + 2)}) {
                          display: inline-block;
                        }
                      }
                      @if $iActive >= ($iCount - $iVisible + 1) {
                        & ~ nav.dots .next label:nth-of-type(#{($iCount - $iVisible + 1)}) {
                          display: none;
                        }
                        & ~ nav.dots .next label:nth-of-type(#{$iCount}) {
                          display: inline-block;
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  input[type="radio"] {
    &:checked {
      @for $iActive from 1 through $maxSlideCount {
        &:nth-of-type(#{$iActive}) {
          & ~ .csss__wrapper .csss__slider {
            @for $iCount from 2 through $maxSlideCount {
              &.iCount--#{$iCount} {
                transform: translate3d(((-1 * $iActive * (100% / $iCount))+(100% / $iCount)),0,0);
                z-index: $maxSlideCount;
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(md) {
    input[type="radio"] {
      &:checked {
        @for $iActive from 1 through $maxSlideCount {
          &:nth-of-type(#{$iActive}) {
            & ~ .csss__wrapper .csss__slider {
              @for $iCount from 1 through $maxSlideCount {
                &.iCount--#{$iCount} {
                  @for $iVisible from 1 through $iMdMaxVisibleAtOnce {
                    &.iMd--#{$iVisible} {
                      @if $iCount == $iVisible {
                        transform: translate3d(0,0,0);
                      } @else {
                        transform: translate3d(((-1 * $iActive * (100% / $iCount))+(100% / $iCount)),0,0);
                        z-index: $maxSlideCount;

                        @if $iCount > $iVisible {
                          @if $iActive > ($iCount - $iVisible + 1) {
                            transform: translate3d(((-1 * ($iCount - $iVisible + 1) * (100% / $iCount))+(100% / $iCount)),0,0);
                          }
                        }

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(lg) {
    input[type="radio"] {
      &:checked {
        @for $iActive from 1 through $maxSlideCount {
          &:nth-of-type(#{$iActive}) {
            & ~ .csss__wrapper .csss__slider {
              @for $iCount from 1 through $maxSlideCount {
                &.iCount--#{$iCount} {
                  @for $iVisible from 1 through $iLgMaxVisibleAtOnce {
                    &.iLg--#{$iVisible} {
                      @if $iCount == $iVisible {
                        transform: translate3d(0,0,0);
                      } @else {
                        transform: translate3d(((-1 * $iActive * (100% / $iCount))+(100% / $iCount)),0,0);
                        z-index: $maxSlideCount;

                        @if $iCount > $iVisible {
                          @if $iActive > ($iCount - $iVisible + 1) {
                            transform: translate3d(((-1 * ($iCount - $iVisible + 1) * (100% / $iCount))+(100% / $iCount)),0,0);
                          }
                        }

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  @include media-breakpoint-up(xl) {
    input[type="radio"] {
      &:checked {
        @for $iActive from 1 through $maxSlideCount {
          &:nth-of-type(#{$iActive}) {
            & ~ .csss__wrapper .csss__slider {
              @for $iCount from 1 through $maxSlideCount {
                &.iCount--#{$iCount} {
                  @for $iVisible from 1 through $iXlMaxVisibleAtOnce {
                    &.iXl--#{$iVisible} {
                      @if $iCount == $iVisible {
                        transform: translate3d(0,0,0);
                      } @else {
                        transform: translate3d(((-1 * $iActive * (100% / $iCount))+(100% / $iCount)),0,0);
                        z-index: $maxSlideCount;

                        @if $iCount > $iVisible {
                          @if $iActive > ($iCount - $iVisible + 1) {
                            transform: translate3d(((-1 * ($iCount - $iVisible + 1) * (100% / $iCount))+(100% / $iCount)),0,0);
                          }
                        }

                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }

  .csss__slide section {
    min-height: 100%;
    margin: 0 (($grid-gutter-width/2) * -1);
    padding: 0 ($grid-gutter-width/2);
  }

  .csss__slide section.d-flex .row {
    flex-grow: 1;
  }

}