<div xmlns="http://www.w3.org/1999/xhtml" lang="en"
     xmlns:f="http://typo3.org/ns/TYPO3/Fluid/ViewHelpers"
     xmlns:hiveCptCntCssslider="http://typo3.org/ns/HIVE/HiveCptCntCssslider/ViewHelpers">
    <f:layout name="Default" />

    <f:section name="main">

    <f:flashMessages />

    <f:format.raw>{aHtml.0}</f:format.raw>
    <f:for each="{aSlidePages}" as="aSlidePage">
        <div class="csss__slide col">
            <f:if condition="{aSlidePage.doktype} == 199">
                <f:then>
                    <f:cObject typoscriptObjectPath="lib.site.anchorslide"
                               data="{pageUid: '{aSlidePage.uid}'}" />
                </f:then>
                <f:else>
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{aSlidePage.uid}', colPos: '1'}" />
                </f:else>
            </f:if>
        </div>
    </f:for>
    <f:format.raw>{aHtml.1}</f:format.raw>


    </f:section>

</div>